.metronome {
    text-align: center;
    max-width: 375px;
    color: white;
}

.bpm-slider input {
    width: 100%;
    margin: 10px;
}

.metronome button {
    background: transparent;
    padding: .8em;
    margin: .5em;
    border: white solid 1px;
    border-radius: 2em;
    outline: 2em;
    color: #fff;
    font-size: 18px;
    width: 100px;
    cursor: pointer;
}

.metronome-start-btn {
    
}

.metronome-stop-btn {

}

.Slider {
    color: #333;
}

.Count {
    margin: 0;
}

.met-settings {
    padding: 1em;
}

.bpm-slider {
    margin-top: 2em;
}

.metronome button:hover {
    color: #333;
    background: white;
}