header {
    background-color: #272727;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 2em;
    padding-right: 2em;
    height: 4em;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-around;
    max-width: 20em;
    min-width: 8em;
}

header a {
    text-decoration: none;
    color: white;
}

.burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    /* left: 1em; */
    top: 1em;
    right: 3em;
    /* padding-bottom: 2em; */
}

header {
    z-index: 1000,
}