.record-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    a {
        color: white;
        display: block;
    }
}

.record-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.save-recording-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.record-buttons {
    margin: 2em auto 1em;
    display: flex;
    justify-content: center;
}

.is-recording {
    animation: blinker 2s linear infinite;
}

@keyframes blinker {
    40% {
        opacity: 100;
    }
    80% {
    opacity: 0;
    }
}

.recording-timer {
    font-weight: 100;
    font-size: 3em;
}

.mobile-menu {
    @media (max-width: 500px) {
        display: none;
    }
}