.record-container {
    /* padding-top: 10em; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.record-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.save-recording-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.record-buttons {
    margin-top: 1em;
}

.is-recording {
    animation: blinker 2s linear infinite;
}

@keyframes blinker {
    40% {
        opacity: 100;
    }
    80% {
    opacity: 0;
    }
}

.recording-timer {
    font-weight: 100;
    font-size: 3em;
}