.formContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: white;
    background-color: #333;
    padding-top: 8em;
    padding-bottom: 8em;
    min-height: 70vh;
}

.submitBtn:hover {
    color: white;
    /* border: solid 1px orange; */
}

.submitBtn {
    background: orange;
    color: #333;
}

.cancelBtn {
    border: solid 1px white;
}

.cancelBtn:hover {
    background: white
}

.cancelBtn:active {
    background-color: tomato;
    border: solid 1px tomato;
}


.practiceTimerContainer {

}

.newSessionContainer {
    padding: 3em;
    width: 22em;
    background-color: #272727;
    margin: 2em;
    border-radius: 2em;
}

.timerDisplay {
    font-size: 4em;
}