.formContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    padding-bottom: 8em;
}

.submitBtn:hover {
    color: white;
}

.submitBtn {
    background: orange;
    color: #333;
}

.cancelBtn {
    border: solid 1px white;
}

.cancelBtn:hover {
    background: white
}

.cancelBtn:active {
    background-color: tomato;
    border: solid 1px tomato;
}

.newSessionContainer {
    padding: 3em;
    width: 22em;
    background-color: #272727;
    margin: 0 2em 2em 2em;
    border-radius: 2em;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    position: relative;
}
/* 
.newSessionContainer:hover {
    transform: translate(.3em, -.3em);
} */

.timerDisplay {
    font-size: 4em;
}

.prForm input, .prForm textarea {
    font-size: 1.2em;
    margin: .2em;
    padding: .3em;
    border-radius: .2em;
    border: none;
    font-family: monospace;
}

.pr-time-input input {
    width: 2.3em;
    z-index: 99;
}

.start-time-input input {
    width: 13em;
}

.prForm .timerBtn {
    margin-top: 1em;
}

.prForm textarea {
    resize: none;
    width: 80%;
}

.modal {
    background-color: #333;
    width: 40em;
    height: 20em;
    margin: auto;
    position: fixed;
    top: 0; left: 0; bottom: 0; right: 0;
    padding: 2em;
    border-radius: 2em;
    display: none;
}

.modal-container {
    background: rgba(0, 0, 0, 0.5);
    width: 100vw;
    min-height: 100vh;
    margin: auto;
    position: fixed;
    top: 0; left: 0; bottom: 0; right: 0;
    display: none;
}

.modal-container input {
    font-size: 1.2em;
    margin: .2em;
    padding: .2em;
    border-radius: .2em;
}

.modal-container textarea {
    resize: none;
    width: 80%;
}

.practice-card-icon {
    position: absolute;
    right: 1.5em;
    top: 1.5em;
}