.bm-menu-wrap {
    position: fixed;
    height: 100%;
}


.bm-overlay {
    background: rgba(0, 0, 0, 0.3);
}

.burger-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #222;
    padding: 2.5em 1.5em;
    font-size: 1.15em;
    position: fixed;
    top: 5em;
    right: -200em;
    width: 16em;
}

.burger-menu-open {
    right: 0;
}

.burger-menu a {
    display: block;
    padding: 1em;
}