.metDroneContainer {
    /* padding-top: 8em;
    background-color: #333;
    padding-bottom: 8em; */
    /* min-height: 70vh; */

}

.metDroneHeadline {
    text-align: center;
    color: #5AC18E;
    padding-bottom: 0;
}

.metDroneComponentContainer {
    display: flex;
    align-items: stretch;
    justify-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.metdrone-container {
    margin: auto 2em;
    padding: 5em;
    background: #272727;
    border-radius: 2em;
}